.product-detail-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #f9f9f9;
}

/* .product-title-rating {
  text-align: center;
  margin-bottom: 20px;
} */
.product-title-rating {
  text-align: left;
  margin-bottom: 20px;
}
.product-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}


/* .product-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.product-rating p {
  margin-left: 10px;
  font-size: 16px;
  color: #888;
}

.product-detail-content {
  display: flex;
  justify-content: space-between;
}

.product-detail-left {
  width: 40%;
}

.product-main-image {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.main-product-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.product-thumbnails {
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.thumbnail.selected {
  border-color: #52ab98;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail-right {
  width: 55%;
}

.product-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #52ab98;
}

.discounted-price {
  text-decoration: line-through;
  color: #aaa;
}

.discount {
  color: #ff6008;
}

.product-options {
  margin-bottom: 20px;
}

.size-selector,
.color-selector {
  margin-bottom: 10px;
}

.size-selector select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.color-selector {
  display: flex;
}

.color-option {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-option.selected {
  border-color: #333;
}

.product-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: #52ab98;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #429d87;
}
